.set-up {
  text-align: center;
}

.metro-cabin {
  text-align: center;
  margin: auto;
  padding: 0px;
  background-image: url("../images/metro-cabin.png");
  background-repeat: no-repeat;
  width: 1240px;
  height: 220px;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  text-align: center;
  background-image: url("../images/game-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;

  /* border: 6px solid black; */
}

body {
  background-color: #2b2c2d;
  background-repeat: repeat-x;
  padding: 0px;
  margin-block-start: 0px;
}

/* Start Window */
.game-start {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.start-content {
  box-sizing: content-box;
  width: 600px;
  height: 265px;
  position: fixed;
  background-color: white;
  border: 10px solid #55a996;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 40px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 30px;
  margin-block-start: 18px;
  margin-block-end: 18px;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 24px;
  margin-block-start: 18px;
  margin-block-end: 30px;
}

.play-btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: white;
  width: 170px;
  height: 50px;
  background-color: #55a996;
  border-radius: 4px;
}

/* End Window */
.game-end {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.showing {
  display: block;
}

.end-content {
  box-sizing: content-box;
  width: 600px;
  height: 265px;
  position: fixed;
  background-color: white;
  border: 10px solid #55a996;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  padding: 40px;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 30px;
  margin-block-start: 18px;
  margin-block-end: 18px;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 24px;
  margin-block-start: 18px;
  margin-block-end: 30px;
}

/* .restart-btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: white;
  width: 170px;
  height: 50px;
  background-color: #55a996;
  border-radius: 4px;
} */

/* Timer */

.panel {
  position: absolute;
  left: 0;
  top: 230px;
  z-index: 42;
  padding: 20px;
  border-radius: 3px;
  background-color: black;
}

#timer {
  font-family: LED Dot-Matrix;
  font-size: 42px;
  color: orange;
}

@font-face {
  font-family: LED Dot-Matrix;
  src: url(../fonts/LED\Dot-Matrix.ttf);
}
